.login-form-page {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.login-form {
    width: 26.25rem;
    min-height: 33.75rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;

    border: 1px solid #d1d5db;
    border-radius: 1rem;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-button {
    width: 9rem;

    padding: 0.5rem 1rem;

    border: 3px solid var(--color-azul-secundario);
    border-radius: 0.5rem;

    background-color: var(--color-branco);
    color: var(--color-azul-secundario);

    font-weight: 600;

    transition: background-color 0.3s;
}

.profile-button:hover {
    background-color: var(--color-azul-claro);
}

.profile-button--selected {
    background-color: var(--color-azul-secundario);
    color: var(--color-branco);
}

.profile-button--selected:hover {
    background-color: var(--color-azul-escuro);
}

.login-input {
    padding: 0.5rem 0.75rem;

    border: 1px solid #d1d5db;
    border-radius: 0.5rem;

    outline: none;
}

.login-input:focus {
    border-color: var(--color-azul-secundario);
    box-shadow: 0 0 0 2px var(--color-azul-secundario);
}

.login-button {
    width: 100%;

    margin-top: 1.5rem;

    padding: 0.5rem 1rem;

    border: none;
    border-radius: 0.5rem;

    background-color: var(--color-azul-secundario);
    color: var(--color-branco);

    font-weight: 600;

    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: var(--color-azul-primario);
}